{% extends "default.html" %}
{% block content_wrapper %}

{% include "partials/menu.html" %}

<!-- This section is for Splash Screen -->
<div class="ole">
    <section id="jSplash">
        <div id="circle"></div>
    </section>
</div>
<!-- End of Splash Screen -->
        
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title color-text">{{ site.quentin.name }}</h2>
                <h3 class="title-description">{{ page.description }}</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    <!-- Section -->
    <div class="page">
        <div class="container">
            <!-- People -->
            <div class="row">

                <!-- Start -->
                <div class="span6 profile">
                    <div class="image-wrap">
                        <a class="hover-wrap" href="outdoor/index.html">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">{{ page.climbing }}</span>
                        </a>
                        <a href="outdoor/index.html"><img  src="{{ site.url }}/assets/img/homepage/image01.jpg" alt="Climbing"></a>
                    </div>
                    <a href="outdoor/index.html"><h3 class="profile-name color-text">{{ page.climbing }}</h3></a>
                </div>
                <!-- End -->
                <!-- Start -->
                <div class="span6 profile">
                    <div class="image-wrap">
                        <a class="hover-wrap" href="design/index.html">
                            <span class="overlay-img"></span>
                            <span class="overlay-text-thumb">{{ page.graphism }}</span>
                        </a>
                        <a href="design/index.html"><img  src="{{ site.url }}/assets/img/homepage/image02.jpg" alt="Graphic Design"></a>
                    </div>
                    <a href="design/index.html"><h3 class="profile-name color-text">{{ page.graphism }}</h3></a>
                </div>
                <!-- End -->

            </div>
            <!-- End People -->
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<!-- Main Style -->
<script src="{{ site.url }}/assets/js/main_homepage.js"></script> <!-- Default JS -->
{% endblock %}
{% block css_spec %}
<link href="/assets/css/main_homepage.css" rel="stylesheet">
<style type="text/css">
    header #logo a:hover {
        opacity: 0.65;
        filter: alpha(opacity=65);
    }
    header #logo a {
        background: url(/assets/img/outdoor/logo.png) no-repeat;
        width: 120px;
        height: 30px;
        text-indent: -9999px;
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: opacity 0.25s ease-in-out 0s;
        -moz-transition: opacity 0.25s ease-in-out 0s;
        -o-transition: opacity 0.25s ease-in-out 0s;
        transition: opacity 0.25s ease-in-out 0s;
    }
    a:hover, a:active, a:focus {
        outline: 0;
        color: #FFFFFF;
        text-decoration: none;
    }
    .language {
        display: inline-block;
        margin-left: 30px;
        margin-top: -5px;
        line-height: 70px;
    }
</style>
{% endblock %}