<div id="about" class="page-alternate">
    <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">A propos de moi</h2>
                    <h3 class="title-description">Grimpeur <span class="color-text">passionné</span> et <span class="color-text">expérimenté</span></h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- People -->
        <div class="row">

            <!-- Start -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Portrait</span>
                    </div>
                    <img  class="lazy" data-original="{{ site.url }}/assets/img/outdoor/profile/profile-01.jpg" alt="Quentin COSTER">
                </div>
            </div>
            <!-- Start -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Escalade</span>
                    </div>
                    <img  class="lazy" data-original="{{ site.url }}/assets/img/outdoor/profile/profile-02.jpg" alt="Quentin COSTER">
                </div>
            </div>
            <!-- End -->

            <!-- Start -->
            <div class="span4 profile">
                <div class="image-wrap">
                    <div class="hover-wrap">
                        <span class="overlay-img"></span>
                        <span class="overlay-text-thumb">Alpinisme</span>
                    </div>
                    <img  class="lazy" data-original="{{ site.url }}/assets/img/outdoor/profile/profile-03.jpg" alt="Quentin COSTER">
                </div>
            </div>
            <!-- End -->
            <div class="span profile">
                <h3 class="profile-name">Mon portrait</h3>
                <p class="profile-description">Passionné d'aventure depuis tout petit, je n'ai jamais cessé de grimper et parcourir le monde à la recherche de parois et de montagnes à gravir. Plutôt que de me focaliser dans une filière précise, <span class="color-text">je préfère toucher à tout.</span>
                    Il n’est donc pas rare de me retrouver aux quatre coins du monde en train de m’essayer au <span class="color-text">bloc, trad, couennes sportives, grandes voies, cascade de glace et alpinisme.</span> En 2008, j’ai fondé l’ASBL <a href="http://www.climb2climb.be" target="_blank">« Climb 2 Climb »</a> avec pour objectif de promouvoir l’escalade en Belgique.
                    Par la force des choses, je suis également devenu <span class="color-text">moniteur d’escalade</span> en 2009 et cela me permis de me perfectionner et surtout de pouvoir <span class="color-text">transmettre ma passion</span>, autrement que par le biais d’internet. Entre guider des grimpeurs sur les falaises et <span class="color-text">enseigner les sciences dans le secondaire supérieur</span>, il n'y avait qu'un pas. Aujourd’hui, rien n’a changé. Mon asbl est toujours active, j'enseigne et je grimpe toujours autant.
                    Pour garder la motivation après tant d’années, <span class="color-text">je garde encore quelques beaux projets</span> que j’essaye de concrétiser au fur et à mesure.</p>
                <div class="row">
                    <div class="span6 profile">
                        <h3 class="profile-name">Background sportif & educatif</h3>
                        <ul>
                            <li><span class="color-text">Polyvalence :</span> Escalade sportive, traditionnelle, alpinisme et cascade de glace.</li>
                            <br />
                            <li><span class="color-text">Compétitions :</span> Participations à de nombreux événements dont des finales de championnats de Belgique.</li>
                            <br />
                            <li><span class="color-text">Falaise :</span> 8ème degré en voies et presque en bloc.</li>
                            <br />
                            <li><span class="color-text">Montagne :</span> Nombreuses courses en haute montagne dont l'ascension du Mont-Blanc par Bionnassay.</li>
                            <br />
                            <li><span class="color-text">Expéditions :</span> Sommet dans l'Altaï russe et le McKinley en préparation.</li>
                            <br />
                            <li><span class="color-text">Encadrements :</span> Divers stages et sorties en salles comme en falaise. Formation des futurs moniteurs.</li>
                            <br />
                            <li><span class="color-text">Autres :</span> Président de l'asbl "Climb 2 Climb" et promotion de l'escalade dans le Benelux et en France.</li>
                        </ul>
                    </div>
                    <div class="span6">
                        <div class="image-wrap">
                            <img  class="lazy" data-original="{{ site.url }}/assets/img/outdoor/profile/skills_fr.png" alt="Quentin COSTER">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End People -->
    </div>
</div>