<div class="row">
    <div class="span12">
        <div class="title-page">
            <h2 class="title">{{ page.offer.title }}</h2>
            <h3 class="title-description">{{ page.offer.description }}</h3>
        </div>
    </div>
</div>
<!-- End Title Page -->

<!-- Formulas -->
<div class="row">

    {% for offer in page.offer.offers %}
    <!-- Start -->
    <div class="span4 profile">
        <div class="image-wrap">
            <div class="hover-wrap">
                <span class="overlay-img"></span>
                <span class="overlay-text-thumb">{{ offer.alt }}</span>
            </div>
            <img  class="lazy" data-original="{{ site.url }}{{ offer.photo }}" alt="{{ offer.alt }}" />
        </div>
        <h3 class="profile-name">{{ offer.name }}</h3>
        <p class="profile-description">{{ offer.description }}</p>
        <ul>
            {% for item in offer.list %}
                <li>{{ item | raw }}</li>
            {% endfor %}
        </ul>
    </div>
    <!-- End -->
    {% endfor %}
</div>
<div class="row">
    {% for offer in page.offer.offers %}
    <!-- Start -->
    <div class="span4 profile">
        <a class="button" href="#contact">{{ offer.contactme }}</a>
    </div>
    <!-- End -->
    {% endfor %}
</div>
<!-- End Formulas -->