<div id="social-area" class="page-alternate-social">
    <div class="container">
        <div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="https://www.facebook.com/coster.quentin" title="{{ page.socialize.facebook }}" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="http://be.linkedin.com/pub/quentin-coster/79/364/88b" title="{{ page.socialize.linkdin }}" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                        <li><a href="http://www.climb2climb.be" title="{{ page.socialize.climb2climb }}" target="_blank"><span class="font-icon-globe_line"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>